In [4]:
a= [11,22,33,44,55]
 #하나의 변수에 값 여러개를 저장, 리스트에 저장된 값을 요소라고 한다

print(a)

person =['juneon', 25, 178.7, True] # 하나의 리스트에 여러 타입의 값을 저장할 수 있다

print(person)

b=[] #빈 리스트 생성 가능
print(b)

[11, 22, 33, 44, 55]
['juneon', 25, 178.7, True]
[]

In [15]:
range(10) #0부터 10-1 까지 연속되는 숫자 생성
a=list(range(10))
print(a)
b=list(range(5,11)) #시작하는 숫자와 끝나는 숫자 정할 수 있음
print(b)
c= list(range(-4,17,4)) #range(시작,끝,증가폭)
print(c)
d= list(range(10,-1,-1))
 #증가폭 자리에 음수 지정하면 감소함, 끝나는 숫자는 한단계 전 단계 까지만 출력
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10]
[-4, 0, 4, 8, 12, 16]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

읽기 전용 리스트== 튜플
튜플=(값1,값2,값3)
튜플=값1,값2,값3
요소가 절대 변경되면 안될 때 사용한다

In [18]:
a=(11,22,33,44)
print(a)
b=55,66,77,88
print(b)
c='juneon',178.7,25,True #여러 자료형 저장 가능
print(c)

(11, 22, 33, 44)
(55, 66, 77, 88)
('juneon', 178.7, 25, True)

In [21]:
a=(38) # 요소를 한개만 넣으면 그냥 값이 된다
print(a)
b=(38,) # ,를 넣어주면 튜플이 된다
print(b)
c=38, # 괄호 생략 가능
print(c)

38
(38,)
(38,)

In [22]:
a= tuple(range(10)) #튜플도 리스트처럼 range()사용해서 요소 채울수 있음
print(a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [23]:
a=[1,2,3,4]
tuple(a) #리스트를 튜플로 바꿀 수 있다

(1, 2, 3, 4)

In [24]:
b=11,22,33,44
list(b) #튜플을 리스트로 바꿀 수 있다

[11, 22, 33, 44]

In [29]:
a,b,c =[11,22,33] 
#변수 여러개 만들 수 있다, 이 때 변수의 개수와 요소의 개수 같아야함
print(a)
print(type(a))
x,y,z=(11,22,33) #튜플도 가능, 변수 개수 ==요소 개수
print(x) 
print(type(x))

s=[1,2,3]
a,b,c=s # 이처럼 리스트 또는 튜플의 요소를 여러개의 변수에 할당하는 것을 언패킹이라 한다.
print(a)

11
<class 'int'>
11
<class 'int'>
1

In [31]:
s= input('세개의 값을 입력해주세요:').split()
a,b,c=s
print(a,b,c)

12 23 34

In [ ]:
a= [1,223,3] #변수에 리스트 할당하면 리스트 패킹
b= (12,234,5)# 변수에 튜플 할당하면 튜플 패킹

In [35]:
a = range(-10, 10, 3)
print(a) #튜플이 아니다
print(type(a))

range(-10, 10, 3)
<class 'range'>

표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [44]:
s=int(input())
a=tuple(range(-10,10,s))
a

(-10, -7, -4, -1, 2, 5, 8)